*
{
	padding: 0px;
	margin: 0px;
	box-sizing:border-box;
}
body
{
	background-image:url("background.jpg");
	background-size: cover;
	margin-top: 20px;

}
.flat
{
	font-weight: bolder;
	font-size: 35px;
	letter-spacing:6px;
}

form
{
	width:450px;
	margin: 30px auto 20px auto;

	background-color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 30px;
	box-shadow: 0px 2px 5px ;
	border-radius:3px;
	background-color: rgba(77, 8, 112,.3);
}
h1
{
	text-align: center;
	color: white;
}
input[type='text'],input[type='email'],input[type='phone'],input[type='password']
{
	display: block;
	width: 80%;
	
	height:35px;
	background-color: white;
	border-style:none;
	border-radius: 3px;
	margin: 0px auto;
	text-indent: 30px;
}
i
{
	position: relative;
	left: 12%;
	top:25px;
}

input[type='submit']
{
	display: block;
	width: 35%;
	margin:10px  auto;
	height:35px;
	background-color: #D52685;
	border-style: none;
	border-radius:3px;
	color: white;
	font-size: 22px;
	font-weight: bold;
	margin-top:40px;
}